*   {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html   {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: 100vh;
    background-color: #F4f4f5;
    align-items: center;
    justify-content: center;
}

body > div {
    margin: auto;
}


/* Block */

.btn    {
    display: inline-block;
    text-decoration: none;
    background-color: transparent;
    border: none;
    outline: none;
    border-radius: 50px;
    padding: 16px 48px;
    cursor: pointer;
    color: #fff;
    transition: opacity .2s ease;
    min-width: 120px;
}

.btn + .btn {
    margin-left: 16px;
}

.btn:hover  {
    opacity: .8;
}

.btn--success    {
    background-color: #71be34;
}
.btn--warn  {
    background-color: #ffb703;
}
.btn--danger    {
    background-color: #ff623d;
}

.btn--disable   {
    opacity: .5 !important;
    cursor: default;
}

/* Toast Message */
#toast  {
    position: fixed;
    top: 32px;
    right: 32px;
    z-index: 9999;
}

.toast  {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 2px;
    border-left: 4px solid black;
    padding: 20px 0;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.08);
    transition: all linear .3s;
}

@keyframes  slideInLeft {
    from    {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to  {
        opacity: 1;
        transform: translateX(0);
        
    }
}

@keyframes  fadeOut {
    to {
        opacity: 0;
    }
}

.toast + .toast {
    margin-top: 24px;
}

.toast--success {
    border-color: #47d764;
}

.toast--success .toast__icon    {
    color: #47d764;
}

.toast--info    {
    border-color: #2f86eb;
}

.toast--info  .toast__icon    {
    color: #2f86eb;
}

.toast--warning {
    border-color: #ffc021;
}

.toast--warning .toast__icon    {
    color: #ffc021;
}

.toast--error   {
    border-color: #ff623d;
}

.toast--error .toast__icon    {
    color: #ff623d;
}

.toast__icon    {
    font-size: 24px;
}

.toast__icon,
.toast__close    {
    padding: 0 16px;
}

.toast__body    {
    flex-grow: 1;
}

.toast__title   {
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.toast__msg {
    font-size: 16px;
    color: #888;
    margin-top: 4px;
}


.toast__close:hover {
    opacity: .8;
}

.toast__close   {
    font-size: 20px;
    color: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}



